.top-bar img{
  border-radius: 50%;
}

.top-bar a{
  color: #000;
}

#map {
  background-image: url('/assets/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 88px);
  width: 100%;
  z-index: 9;
}

#queryInput:before{ content:attr(placeholder) !important; width:100%; color:#AAA; }
#queryInput:focus:before,
#queryInput.not_empty:before{ content:none }

.form-div, .details-div{
  position: relative;
  top: calc(-100vh + 88px);
  background-color: rgba(0,0,0,.4);
  z-index: 10;
  label{
    background-color: rgba(0,0,0,.1);
    font-size: 1em;
    color: white;
    font-weight: bold;
  }
  select{
    margin-bottom: 0;
  }
  input{
    margin-bottom: 0;
  }
  p{
    background-color: white;
    font-size: 1em;
    color: black;
    font-weight: bold;
  }
}

.shove-right{
  right: -100vw;
}

.attendees{
  padding: 0;
  ul{
    background-color: white;
    color: black;
    margin-left: 0;
  }
}

#mapper-menu{
  z-index: 9999;
  position: relative;
}

.games_attendees_display{
  text-align: center;
  display: inline-block;
}